body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: 100vh;
    overflow: hidden;
    background: #fafafa;
}
.App {
    height: 100vh;
    overflow: hidden;
    background: #fafafa;

}
.page {
    max-width: 1100px;
    margin: auto;
}
.app-form{
    max-width: 600px;
    margin: auto;
    display: flex;
    height: 100vh;
    align-items: center;

}
.msg_error {
    background: red !important;
}
.active {
    background: #303f9f !important;
    color: white !important;
}
.active span, .active > div {
    color: white;
}
.message_box ul{
    height: 70vh;
    overflow-y: scroll;
}
.paper_modal {
    background: white;
    padding: 30px;
    width: 90%;
    margin: auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
::-webkit-scrollbar
{
    width: 5px;
    background-color: white;
}
::-webkit-scrollbar-thumb
{
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #070928;
}
.message_image {
    max-width: 200px;
}
.message__self {
    background: rgba(0,0,0,0.2);
}
/*
 * header
 */
.messages_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;;

}
.messages_header li {
    color: white;
}
.messages_header .messages_header_star {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.messages_header_form {
    padding: 20px;
    margin-top: 5px;
    height: 25vh;
    background-color:  #fafafa !important;
}
.messages {
    background-color:  #fafafa !important;
}
.animated_btn  > span{
    flex-direction: row !important;
}
.infopanel {
    height: 100vh !important;
    flex-direction: column !important;
}

main {
   /* max-width: 700px;*/
}
button {
    background-color: rebeccapurple !important;
}
.drawer_override {
    position: relative;

}
.drawer_override > div span {
    color: #B3B2BB !important;
}
.drawer_override > div {
    position: fixed !important;
    height: 100vh   ;
    background:#0a0d35 !important;
     width: 50%;



}

@media (max-width: 800px )and (min-width: 600px)  {
    .MuiGrid-grid-sm-6-61 {
        flex-grow: 0;
        max-width: 75% !important;
        flex-basis: 75% !important;
    }
}
@media (min-width: 950px)  {
    .drawer_container {
        width: 230px;
    }
}
@media (min-width: 800px)  {
    .drawer_container {

        position: relative;
    }
    .drawer_override > div {
        width: 100%;
        position: relative !important;
    }


}
header {
    background-color:#070928 !important;

}
header li{
    color: #B3B2BB !important;
}
.main-item {
    background-color:#070928 !important;
}
.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.btn-wrapper button {
    width: 20px !important;
    height: 20px !important;
    min-height: auto !important;
}
.btn-wrapper button  span{
    font-size: 16px !important;
}
.icon_online {

    border: none !important;
}
.icon_offline {

    border: none !important;
}
span.icon_online {
    background: #09ebaf !important;
}
span.icon_offline {
    background: #B3B2BB !important;
}
span.icon_online, span.icon_offline {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 33px;

}
.accordion {
    background-color: #fafafa !important;
}
.accordion > div {
    display: flex;
    justify-content: space-between;
    background: #fafafa;
}
.drawer_right {

}
